/*SETTING UMUM UNTUK SEMUA PAGE*/

html {
    font-size: 100%; /* default font 16px atau 1em atau 1rem */
    font-family: arial, helvetica, sans-serif; /* default font yang 99% dipakai orang , diambil di komputer sendiri*/
}

/* Body keseluruhan termasuk header */
body{
    margin: 0;
}

/*Body untuk konten*/
.body{
    margin-top: 2.5%;
    margin-right: 10%;
    margin-left: 10%;
}

/*Header & Navigasi*/
.header{
    font-size: 0.8rem;
    font-size: 13px;
    margin-bottom: 2.5%;
}

/*Input Text*/
input[type=text], input[type=number]{
    width:100%;
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type=text]:hover, input[type=number]:hover {
    box-shadow: 0px 0px 20px 2px #888888;
    background-color: #f6f6ff;
    transition: 0.1s;
}

/*text (p)*/
p{
    margin-top: 0px;
    margin-bottom: 10px;
}

/*label in & checkbox*/
.check {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}

.check .chk-txt {
    border: 5px solid red;
    padding: 8px;
    vertical-align: middle !important;
}

.check .chk-box {
    margin: 5px;
    transform: scale(1.5);

    /* Webkit browsers*/
    -webkit-transform: scale(1.5);
}

.check .btn {
    margin: 20px;
}

/* Button Umum */
.btn-mod{
    position: relative;
    background-color: #ff3333;
    border: none;
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 180px;
}

.btn-submit{
    background-color: white; 
    color: black; 
    border: 2px solid #0099cc;
}

.btn-submit:hover{
    background-color: #0099cc;
    color: white;
}

/*Button Sub-Navigasi*/
.btn-sub-nav {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.btn-sub-nav:hover {
    background-color: #f44336;
    color: white;
}

/*Form Input-Date*/
.input-date{
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: gray;
    font-size: 0.8rem;
    font-size: 13px;
}

.input-date:hover {
    box-shadow: 0px 0px 20px 2px #888888;
    background-color: #f6f6ff;
    transition: 0.1s;
}

.input-date .tgl{
    width: 80px;
    color: #000;
}

/*Tabel*/
.table{
    width: 100%;
    border: 2px solid black;
    text-align: left;
}

/*Fungsi Umum (Portable) ------------------------*/

/*Ketengah*/
.center{
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

/*Abaikan CSS*/
.ignore-css{
    all: unset !important;
}


@media (max-width: 500px){
    .body {
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
    }
}

