
/*Penggunaan position relative dan absolute*/

html{
    height:1000px;
    font-size: 100%;
}

.wrapper_1{
    position:relative;
    border: 3px solid blue;
    margin:20px;
    text-align: center;
}

.item_1{
    width:30%;
    border: 3px solid red;
    margin:0;
}

.item_2{
    position:absolute;
    display:inline-block;
    border: 3px solid red;
    margin:0;
    top:0;
}


/*
.wrapper_1{
    display:flex;
    position:relative;
    border: 3px solid blue;
    text-align:center;
}

.item_1{
    width:20%;
    border: 3px solid red;
}

.item_2{
    position:absolute;
    right:20px;
    top:0;
    width:50%;
    border: 3px solid red;
}*/





