/* fasilitas header */
.fasilitas-header {
    text-align: center;
    position: relative;
}

.fasilitas-header p {
    position: relative;
    display: inline-block;
    border: 5px solid black;
    background-color: #ffffff;
    color:black;
    padding: 20px;
    margin:10px 0;
}

.fasilitas-header hr {
    position: absolute;
    border: 2px solid black;
    width:100%;
    margin:0;
    top:42px;
    z-index: 0;
}

/* fasilitas body */
.fasilitas-body {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 5%;
    flex-wrap: wrap;
}

.fasilitas-body img {
    width: 70%;
    margin: 5px 0;
}

.fasilitas-body .wrap {
    flex: 1 0 15%; /* atau bias disebut flex-basis: . .; */
    border: 5px solid blue;
    text-decoration: none;
    color: black;
    margin: 10px;
}

/*
.fasilitas-body .wrap:hover {
    
    transition: 0.3s;
}*/

.fasilitas-body p {
    margin: 8px;
}

.fasilitas-body h4 {
    font-weight: bold;
    color: green;
    text-decoration: underline;
}

