/* Artikel header and garis */
.artikel-header {
    text-align: center;
    position: relative;
}

.artikel-header p {
    position: relative;
    display: inline-block;
    border: 5px solid black;
    background-color: #ffffff;
    color:black;
    padding: 20px;
    margin:10px 0;
}

.artikel-header hr {
    position: absolute;
    border: 2px solid black;
    width:100%;
    margin:0;
    top:42px;
    z-index: 0;
}

/* Artikel body */
.artikel-body {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 100px;
    flex-wrap: wrap;
}

.artikel-body img {
    width: 35%;
    margin: 5px 0;
}

.artikel-body .wrap {
    border: 5px solid blue;
    text-decoration: none;
    color: black;
    margin: 10px;
    flex-basis: 100%;
    max-width: 230px;
}

.artikel-body p {
    margin: 16px;
}

.artikel-more{
    text-align: center;
}

.artikel-more a {
    display: inline-block;
    border: 5px solid green;
    margin-top: 20px;
    padding: 10px;
}

/* Header */
header{
    position: absolute;
    display: inline-block;
}

header .hr_img{
    width:35%;
    top:0;
    left:0;
}

.welcome_text{
    text-align: center;
    padding-top: 80px;
}

/* Pageshow */
.pageshow{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 10%;
    flex-wrap: wrap;
}

.pageshow a {
    border: 5px solid red;
    text-decoration: none;
    color: black;
    margin: 10px;
    flex-basis: 100%;
    max-width: 180px;
}

.pageshow a:hover {
    background-color: blue;
    transition: 0.3s;
}

.pageshow p {
    margin: 16px;
}

.pageshow img {
    width: 35%;
    margin: 5px 0;
}

/*Mobile*/

@media (max-width: 400px){
    /* Header */
    header{
        display: block;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }
    
    /*Welcome text*/
    .welcome_text{
        padding-top: 10px;
    }
}

