/*.flex-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-body .column {
    flex: 1 0 30%;
    border: 5px solid red;
}*/

.sub-nav-header{
    position: relative;
}

hr{
    position: absolute;
<<<<<<< HEAD:public/css/kontak.css
    border: 2px solid red !important;
=======
    border: 2px solid #006d3e !important;
>>>>>>> master:css/kontak.css
    width: 100%;
    top: 20% !important;
    z-index: 0;
    font-size: 16px !important; /*Replace Other Config*/
}

h4 {
    font-weight: bold !important;
}

