.menu {
    font-size: 0.8rem;
    font-size: 13px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1ba831;
    padding: 5px 50px;
}

.menu a {
    border-radius: 25px;
    flex-grow: 1;
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 5px;
    background-color: #1b9831;
    box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.2);
    color: #fff;
    font-weight: bold;
}

.menu a:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.menu .menu-img {
    border: none;
    margin: -10px 0;
    padding: 0;
    background: none;
    box-shadow: none !important;
}

.menu .menu-img:hover {
    box-shadow: none !important;
}

.menu .menu-img img {
    width: 80px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.menu-img-lower {
    display: none;
}

@media (max-width: 670px){
    .menu .menu-img {
        display: none;
    }
    
    .menu-img-lower {
        display: block;
        text-align: center;
        background-color: #1ba831;
    }
    
    .menu-img-lower img {
        width: 80px;
    }
    
    .menu a {
        max-width: 100px;
    }
}

