/*.flex-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-body .column {
    flex: 1 0 30%;
    border: 5px solid red;
}*/

.sub-nav-header{
    position: relative;
}

hr{
    position: absolute;
    border: 2px solid red !important;
    width: 100%;
    top: 20% !important;
    z-index: 0;
    font-size: 16px !important; /*Replace Other Config*/
}

/* pelayanan header */
.pelayanan-header {
    text-align: center;
    position: relative;
}

.pelayanan-header p {
    position: relative;
    display: inline-block;
    border: 5px solid black;
    background-color: #ffffff;
    color:black;
    padding: 20px;
    margin:10px 0;
}

.pelayanan-header hr {
    position: absolute;
    border: 2px solid black;
    width:100%;
    margin:0;
    top:42px;
    z-index: 0;
}

/* pelayanan body */
.pelayanan-body {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 5%;
    flex-wrap: wrap;
}

.pelayanan-body img {
    width: 70%;
    margin: 5px 0;
}

.pelayanan-body .wrap {
    flex: 1 0 200px; /* atau bias disebut flex-basis: . .; */
    border: 5px solid blue;
    text-decoration: none;
    color: black;
    margin: 10px;
}

/*
.pelayanan-body .wrap:hover {
    
    transition: 0.3s;
}*/

.pelayanan-body p {
    margin: 8px;
}

.pelayanan-body h4 {
    font-weight: bold;
    color: green;
    text-decoration: underline;
}



